.check {
  display: flex;
  align-items: baseline;
}

.patient-info {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.tab-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
  margin-top: 20px;
  margin-left: 30px;
}

.symptom-container {
  margin-left: 30px;
}

.tab {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.tab.active {
  background-color: #3498db;
  color: white;
}

.apply-button {
  text-align: center;
  padding: 15px 100px;
  background-color: #C7EEFF;
  color: black;
  font-weight: bold;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 100px;
  margin-left: 600px;
}

.check p {
  margin-left: 50px;
}