.square {
    background: lightgray;
    margin : 50px;
}
.ask {
    text-align: center;
}

.ask h2 {
    text-align: center;
    margin-bottom: 30px;
}

.ask p {
    margin-left: 100px;
    margin-right: 100px;
}