.home {
    text-align: center;
}

.img-container {
    margin-top: 20px;
    text-align: center;
}

.login-button {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #0077C0;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 1150px;
    margin-top: 50px;
}

.reservation-button {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #C7EEFF;
    color: black;
    font-weight: bold;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
    margin-bottom: 50px;
}

.img-container img {
    max-width: 2000px;
    max-height: 2000px;
    width: auto;
    height: auto;
}