h1 {
  text-align: center;
}

.reservation-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 40px;
  display: flex;
}

.doctor-image img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.info-container {
  flex: 1;
  margin-left: 10px;
}

.doctor-info {
  font-size: xx-large;
  display: flex;
  align-items: baseline;
}

.doctor-name {
  font-weight: bold;
}

.hospital-name {
  margin-left: 30px;
  color: #555;
  font-size: 20px;
}

.appointment-info {
  display: flex;
  flex-direction: column;
}

.date {
  font-weight: bold;
}

.subject {
  color: #333;
}