.search img {
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
  margin-left: 50px;
}

.search {
  text-align: center;
  padding: 20px;
}

.search p {
  font-size: 16px;
  margin-left: 50px;
}

.search-doctor {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.map-icon {
  width: 24px;
  height: 24px;
  margin-right: -40px;
  margin-left: 10px;
}

.tab-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
  margin-top: 30px;
}

.tab {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.tab.active {
  background-color: #0077C0;
  color: white;
}

.symptom-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
  margin-top: 20px;
}

.symptom-tab {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.symptom-tab.active {
  background-color: #0077C0;
  color: white;
}

.doctor-list {
  display: grid;
  grid-template-columns: 1fr;
}

.doctor-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: flex;
}

.doctor-card img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.info-container {
  flex: 1;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.doctor-info {
  font-size: large;
  display: flex;
  align-items: baseline;
}

.hospital-name {
  margin-left: 30px;
  color: #555;
  font-size: 20px;
}

.appointment-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
  width: 100%;
}

.address {
  font-weight: bold;
  margin-bottom: 5px;
}

.specialty {
  color: #333;
}

.search-doctor h1 {
  margin-left: 13px;
}